.list {
  list-style-type: none;
}
.denomination-button {
  color: #d4d2db;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  background-color: #585076;
  border: #c4c4c4 solid 1px;
  height: 40px;
  width: 160px;
  border-radius: 7px;
  margin: 10px;
}
